<tr>
	<td><a href="{{ path( 'XmonteroEmperorsClientBundle_board' ) }}">{{ game.id }}</a></td>
	<td><a href="{{ path( 'XmonteroEmperorsClientBundle_board' ) }}">25-Apr 21:00 CEST</a></td>
	<td><a href="{{ path( 'XmonteroEmperorsClientBundle_board' ) }}">{{ game.numberOfPlayers }}</a></td>
	<td><a href="{{ path( 'XmonteroEmperorsClientBundle_board' ) }}">{{ game.numberOfPlayersAlive }}</a></td>
</tr>
