<tr>
	<td><a href="{{ path( 'XmonteroEmperorsClientBundle_board', { 'turn': 1 } ) }}">{{ game.id }}</a></td>
	<td><a href="{{ path( 'XmonteroEmperorsClientBundle_board', { 'turn': 1 } ) }}">25-Apr 21:00 CEST</a></td>
	<td><a href="{{ path( 'XmonteroEmperorsClientBundle_board', { 'turn': 1 } ) }}">{{ game.numberOfPlayers }}</a></td>
	<td><a href="{{ path( 'XmonteroEmperorsClientBundle_board', { 'turn': 1 } ) }}">{{ game.numberOfPlayersAlive }}</a></td>
</tr>
