{% if app.user %}
	{% set name = app.user.realcompletename %}
	Welcome {{ name }}
	{% if is_granted( 'ROLE_PREVIOUS_ADMIN' ) %}
		| <a href="{{ path( 'XmonteroEmperorsClientBundle_root', { '_switch_user': '_exit' }) }}">Exit impersonation</a>
	{% endif %}
	{% if is_granted( 'ROLE_ADMIN' ) %}
		| <a href="{{ path( 'XmonteroEmperorsAdminBundle_dashboard' ) }}">Admin</a>
	{% endif %}
	| <a href="{{ path( 'fos_user_security_logout' ) }}">Logout</a>
{% else %}
	<a href="{{ path( 'hwi_oauth_service_redirect', { "service": "facebook" } ) }}">Login with facebook</a>
{% endif %}