{% extends "XmonteroEmperorsClientBundle:Layout:layout.html.twig" %}

{% block page %}
	<h3>Emparejamientos 1a partida</h3>
	<div class="inset">
		<ul>
			{% for i in 0..7 %}
				{% set emperor = emperors[ i ] %}
				{% set pawn = pawns[ i ] %}
				<li>Los peones de
				<a target="_blank" href="{{ pawn.facebookPage }}">{{ pawn.emperor }} de {{ pawn.dynasty }}</a>
				servirán a
				<a target="_blank" href="{{ emperor.facebookPage }}">{{ emperor.emperor }} de {{ emperor.dynasty }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<h3>Jugadores controlando Emperadores</h3>
	<table border=1>
		<tr>
			<th>#</th>
			<th>Inscripción</th>
			<th>Jugador Emperador</th>
			<th>Emperador</th>
			<th>Sexo</th>
			<th>Dinastía</th>
		</tr>
		{% for emperor in emperors %}
			<tr>
				<td>{{ emperor.id }}</td>
				<td>{{ ( emperor.signupDate | date( "d-m-Y H:i:s T" ) ) }}</td>
				<td><a target="_blank" href="{{ emperor.facebookPage }}">{{ emperor.playerName }}</a></td>
				<td>{{ emperor.emperor }}</td>
				<td>{{ emperor.gender }}</td>
				<td>{{ emperor.dynasty }}</td>
			</tr>
		{% endfor %}
	</table>
	<h3>Jugadores controlando Peones</h3>
	<table border=1>
		<tr>
			<th>#</th>
			<th>Inscripción</th>
			<th>Jugador Peón</th>
			<th>Emperador que juega de peón</th>
			<th>Sexo</th>
			<th>Dinastía</th>
		</tr>
		{% for pawn in pawns %}
			<tr>
				<td>{{ pawn.id }}</td>
				<td>{{ ( pawn.signupDate is null ) ? "-partida completa-" : ( pawn.signupDate | date( "d-m-Y H:i:s T" ) ) }}</td>
				<td><a target="_blank" href="{{ pawn.facebookPage is null ? "https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2" : pawn.facebookPage }}">{{ pawn.playerName is null ? "Apuntarse a lista de espera" : pawn.playerName }}</a></td>
				<td>{{ pawn.emperor }}</td>
				<td>{{ pawn.gender }}</td>
				<td>{{ pawn.dynasty }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
